body {
  overflow: hidden;
}

.faceContainer {
  /*border: 4px solid gray;*/
  position: absolute;
  height: 400px;
  width: 259px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-20deg);
}

.hair div {
  background-color: #3A3A3A;
  position: absolute;
}

.backhair {
  width: 67px;
  height: 160px;
  top: 52.839px;
  border-radius: 100px 0;
}

.tophair {
  width: 110px;
  height: 120px;
  border-radius: 4px 64px 50px 50px;
}

.left {
  left: 66px;
  top: 26px;
}

.middle {
  left: 97px;
  top: 10px;
}

.right {
  left: 137px;
  top: 0px;
}

.bread-jaw {
  width: 76px;
  height: 137px;
  top: 237px;
  left: 34px;
  border-radius: 0 0 0 76px;
}

.bread-chin {
  width: 115px;
  height: 137px;
  left: 93px;
  top: 263px;
  border-radius: 0 0 55px 60px;
}

.face div {
  position: absolute;
  background-color: #FFCE6C;
}

.face .foundation {
  width: 114px;
  height: 179px;
  left: 44px;
  top: 78px;
}

.face .jaw {
  width: 68px;
  height: 98px;
  left: 53px;
  top: 203px;
  border-radius: 0 0 0 57px;
}

.face .cheek-left {
  width: 56px;
  height: 98px;
  left: 87px;
  top: 250px;
  border-radius: 0 0 0 57px;
}

.face .cheek-right {
  width: 124px;
  height: 91px;
  left: 114px;
  top: 238px;
  transform: skewX(-35deg);
  border-radius: 0 40px;
}

.face .below-eye {
  width: 124px;
  height: 45px;
  left: 121px;
  top: 210px;
  transform: skewX(14deg);
}

.face .above-eye {
  width: 124px;
  height: 54px;
  left: 118px;
  top: 168px;
  transform: skewX(-12deg);
  border-radius: 0 12px;
}

.face .forehead {
  width: 124px;
  height: 101px;
  left: 104px;
  top: 73px;
  transform: skewX(18deg);
}

.hair .forehead {
  width: 117px;
  height: 43px;
  left: 99px;
  top: 38px;
  border-radius: 20px;
}

.hair .hairline {
  width: 124px;
  height: 35px;
  left: 27px;
  top: 56px;
  transform: rotate(-22deg);
}

.hair .sideburn {
  width: 20.5px;
  height: 97px;
  left: 34px;
  top: 180px;
}

.eyebrow {
  position: absolute;
  border: none !important;
}

.eyebrow-left {
  left: 91px;
  top: 150px;
  transform: rotate(-6deg);
}

.eyebrow-right {
  left: 207px;
  top: 144px;
  transform: rotate(12deg);
}

.eyebrow .left-end{
  width: 13px;
  height: 17px;
  left: -6px;
  transform: skewX(-14deg);
  border-radius: 4px;
}

.eyebrow .center{
  width: 49px;
  height: 17px;
}

.eyebrow .right-end{
  width: 13px;
  height: 17px;
  left: 43px;
  transform: skewX(14deg);
  border-radius: 4px;
}

.facial .beard {
  width: 15px;
  height: 75px;
  left: 110px;
  top: 280px;
  transform: rotate(-11.5deg);
  border-radius: 15px 0 0 0;
}

.facial .mustache {
  width: 89px;
  height: 26px;
  left: 115px;
  top: 279px;
  border-radius: 4px 10px 16px 0;
}

.features div{
  position: absolute;
}

.features .teeth {
  background-color: white;
  width: 72px;
  height: 16px;
  left: 121px;
  top: 297px;
  border-radius: 3px;
}

.features .mouth {
  background-color: #FF715A;
  width: 61px;
  height: 51px;
  left: 123px;
  top: 309px;
  border-radius: 0 0 20px 41px;
}

.features .nose {
  background-color: #FFB53E;
  width: 32px;
  height: 12px;
  left: 162px;
  top: 253px;
  border-radius: 0 0 12px 12px;
}

.features .ear {
  background-color: #FFCE6C;
  width: 40px;
  height: 71px;
  left: 0px;
  top: 190px;
  border-radius: 20px 20px 4px 35px;
}

.features .eye {
  width: 33px;
  height: 33px;
  top: 191px;
  border-radius: 50%;
  border: 7px solid black;
  border-bottom-color: #FFCE6C;
  border-left-color: #FFCE6C;
  transform: rotate(-45deg);
}

.features .eye-left {
  left: 98px;
}

.features .eye-right {
  left: 190px;
}
